.sidebar-left{
  border: 3px solid green;
  padding: 6px;
  marign: 30px;
  background-color: orange;

  width: 30%;
  float:left;
  text-align: center;
}
.sidebar-right{
  border: 3px solid green;
  padding: 6px;
  marign: 30px;
  background-color: green;

  width: 65%;
  float:right;
  text-align: center;
}
